<h1>Listing post_votes</h1>

<table>
  <thead>
    <tr>
      <th>Voter</th>
      <th>Quantity</th>
      <th>Post</th>
      <th>User</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @post_votes.each do |post_vote| %>
      <tr>
        <td><%= post_vote.voter_id %></td>
        <td><%= post_vote.quantity %></td>
        <td><%= post_vote.post %></td>
        <td><%= post_vote.user %></td>
        <td><%= link_to 'Show', post_vote %></td>
        <td><%= link_to 'Edit', edit_post_vote_path(post_vote) %></td>
        <td><%= link_to 'Destroy', post_vote, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post vote', new_post_vote_path %>
