<p id="notice"><%= notice %></p>

<p>
  <strong>Voter:</strong>
  <%= @comment_vote.voter_id %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @comment_vote.quantity %>
</p>

<p>
  <strong>Post comment:</strong>
  <%= @comment_vote.post_comment %>
</p>

<p>
  <strong>User:</strong>
  <%= @comment_vote.user %>
</p>

<%= link_to 'Edit', edit_comment_vote_path(@comment_vote) %> |
<%= link_to 'Back', comment_votes_path %>
