<div class="depot_form">
	
<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
	  <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <% if (User.find_by(id: session[:user_id])!= nil) && (User.find_by(id: session[:user_id]).admin_type!= nil) %>
  <fieldset>
	  <legend>Create an admin user</legend>
		  
  <div class="field">
    <%= f.label :name, 'Name' %><br>
    <%= f.text_field :name, size: 40 %>
  </div>

  <div class="field">
    <%= f.label :email, 'Email' %><br>
    <%= f.text_field :email, size: 40 %>
  </div>
  
  <div class="field">
    <%= f.label :password, 'Password' %><br>
    <%= f.password_field :password, size: 40 %>
  </div>
  
  <div>
    <%= f.label :password_confirmation, 'Confirm' %><br>
    <%= f.password_field :password_confirmation,size:40 %>
  </div>
  
  <div>
    <%= f.hidden_field :admin_type, :value => "A" %>
  </div>
  
  <div class="actions">
    <%= f.submit "Create an Admin" %>
  </div>
<% else %> 
</fieldset>

  <fieldset>
	  <legend>Enter User Details</legend>
		  
  <div class="field">
    <%= f.label :name, 'Name' %><br>
    <%= f.text_field :name, size: 40 %>
  </div>

  <div class="field">
    <%= f.label :email, 'Email' %><br>
    <%= f.text_field :email, size: 40 %>
  </div>
  
  <div class="field">
    <%= f.label :password, 'Password' %><br>
    <%= f.password_field :password, size: 40 %>
  </div>
  
  <div>
    <%= f.label :password_confirmation, 'Confirm' %><br>
    <%= f.password_field :password_confirmation,size:40 %>
  </div>
  
  <div class="actions">
    <%= f.submit "Sign Up" %>
  </div>
 
</fieldset>

<% end %>
<% end %>
</div>
