<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_area :body %>
  </div>
  <div class="field">
	<%= f.select(:category_id, Category.where(:status => "active").map {|p| [p.name,p.id]}, :prompt => "Select a Category") %><br />
  </div>
  <%= f.hidden_field :auther_id, :value => session[:user_id] %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
