<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %> | <%= pluralize(@post_votes.length, "vote") %>
  <%= form_for(@post_vote) do |f| %>
  <div class="field">
    <%= f.hidden_field :post_id %>
    <%= f.hidden_field :voter_id, :value => session[:user_id] %>
	<%= f.hidden_field :quantity, :value => 1 %>	
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</p>

<p>
  <strong>Body:</strong>
  <%= @post.body %>
</p>

<p>
  <strong>Category:</strong>
  <%= @post.category.name %>
</p>

<p>
  <strong>Author:</strong>
  <%= User.find_by_id(@post.auther_id).name %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
<hr />
<%= form_for(@post_comment) do |f| %>
  <% if @post_comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post_comment.errors.count, "error") %> prohibited this post_comment from being saved:</h2>

      <ul>
      <% @post_comment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :body %><br>
    <%= f.text_area :body %>
    <%= f.hidden_field :post_id %>
    <%= f.hidden_field :commentor_id, :value => session[:user_id] %>
	
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<% if @post_comments.each do |comment| %>
<h2><%= User.find_by_id(comment.commentor_id).name %></h2><br />
<p><%= comment.body %></p>
<% end.empty? %>
<h2>Currently no comment for this post</h2>
<% end %>
