<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %> | <%= pluralize(@post_votes.length, "vote") %>
  <%= form_for(@post_vote) do |f| %>
  <div class="field">
    <%= f.hidden_field :post_id, :value => @post.id %>
    <%= f.hidden_field :voter_id, :value => session[:user_id] %>
	<%= f.hidden_field :quantity, :value => 1 %>	
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</p>

<p>
  <strong>Body:</strong>
  <%= @post.body %>
</p>

<p>
  <strong>Category:</strong>
  <%= @post.category.name %>
</p>

<p>
  <strong>Author:</strong>
  <%= User.find_by_id(@post.auther_id).name %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
<hr />
<%= form_for(@post_comment) do |f| %>
  <% if @post_comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post_comment.errors.count, "error") %> prohibited this post_comment from being saved:</h2>

      <ul>
      <% @post_comment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :body %><br>
    <%= f.text_area :body %>
    <%= f.hidden_field :post_id %>
    <%= f.hidden_field :commentor_id, :value => session[:user_id] %>
	
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<% if !User.find_by(id: session[:user_id]) %>

<% if @post_comments.each do |comment| %>
<% @comment_votes = CommentVote.find(:all, :conditions => { :post_comment_id => comment.id}) %>
<h2><%= User.find_by_id(comment.commentor_id).name %>  |  <%= pluralize(@comment_votes.length, "vote") %></h2>
 <% @comment_vote = CommentVote.new(:post_comment => comment) %>
  <%= form_for(@comment_vote) do |f| %>
  <div class="field">
    <%= f.hidden_field :post_comment_id, :value => comment.id %>
    <%= f.hidden_field :voter_id, :value => session[:user_id] %>
	<%= f.hidden_field :quantity, :value => 1 %>	
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<p><%= comment.body %></p>
<% end.empty? %>
<h2>Currently no comment for this post</h2>
<% end %>

<% elsif User.find_by(id: session[:user_id]).admin_type == nil %>

<% if @post_comments.each do |comment| %>
<% @comment_votes = CommentVote.find(:all, :conditions => { :post_comment_id => comment.id}) %>
<h2><%= User.find_by_id(comment.commentor_id).name %>  |  <%= pluralize(@comment_votes.length, "vote") %></h2>
<% if comment.commentor_id == session[:user_id] %>
<h3><%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %></h3>
<% end %>
 <% @comment_vote = CommentVote.new(:post_comment => comment) %>
  <%= form_for(@comment_vote) do |f| %>
  <div class="field">
    <%= f.hidden_field :post_comment_id, :value => comment.id %>
    <%= f.hidden_field :voter_id, :value => session[:user_id] %>
	<%= f.hidden_field :quantity, :value => 1 %>	
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<p><%= comment.body %></p>
<% end.empty? %>
<h2>Currently no comment for this post</h2>
<% end %>

<% else %>
<% if @post_comments.each do |comment| %>
<% @comment_votes = CommentVote.find(:all, :conditions => { :post_comment_id => comment.id}) %>
<h2><%= User.find_by_id(comment.commentor_id).name %>  |  <%= pluralize(@comment_votes.length, "vote") %></h2><h3><%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %></h3>
 <% @comment_vote = CommentVote.new(:post_comment => comment) %>
  <%= form_for(@comment_vote) do |f| %>
  <div class="field">
    <%= f.hidden_field :post_comment_id, :value => comment.id %>
    <%= f.hidden_field :voter_id, :value => session[:user_id] %>
	<%= f.hidden_field :quantity, :value => 1 %>	
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<p><%= comment.body %></p>
<% end.empty? %>
<h2>Currently no comment for this post</h2>
<% end %>
<% end %>